/* #region reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* #region color-palette */
:root {
    --academy-lighter: #FFFFFF;
    --academy-darker: #000000;
    --academy-primary: #40C4FF;

}



/* #region common */
.container {
    width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    text-transform: uppercase;
    padding: 1rem;
}


/* #region utilities */
.d-flex {
    display: flex;
}

.list-inline {
    list-style: none;
    display: flex;
}