/* #region reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* #endregion reset */


/* #region color-palette */
:root {
    --academy-lighter: #FFFFFF;
    --academy-darker: #000000;
    --academy-primary: #40C4FF;
    --academy-subject: #F2F8FC;
    --subject-border: #F2F2F2;
    --academy-footer: #222222;
    --footer-text: #B9B9B9;
    --academy-warning: #FFD740;
    --fade-light: #FFFFFF80;
    --text-dark: #808080;
    --bg-light: #FCFCFC;
    --border-elements: #EAEBEB;
    --border-top-table: #D6F2FF;
}

/* #endregion color-palette */

/* #region common */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Rasa", sans-serif;
    font-size: 1.1rem;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

a {
    text-decoration: none;
}

.btn {
    text-transform: uppercase;
    padding: 1rem;
}

/* #endregion common */

/* #region utilities */
.d-flex {
    display: flex;
}

.list-inline {
    list-style: none;
    display: flex;
}

.col-8 {
    width: calc((100% / 12) * 8 - 1rem);
}

.col-6 {
    width: calc((100% / 12) * 6 - 1rem);
}

.col-4 {
    width: calc((100% / 12) * 4 - 1rem);
}

.col-3 {
    width: calc((100% / 12) * 3 - 1rem);
}

.col-2 {
    width: calc((100% / 12) * 2 - 1rem);
}

/* #endregion utilities */